html,body{
    display: grid;
    place-items: center;
    height: 100%;
    text-align: center;
    gap: 13px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    text-align: center;
    padding: 40px 40px;
    border: 1px solid #eee;
    border-radius: 10px;
}
.container{
    display: flex;
    gap: 13px;
    width: 100%;
    
}
button{
    padding: 8px 32px;
    font-size: 20px;
}
h4{
    font-size: 80px;
}
.bgred{
color: red;

}
.bggreen{
color: green;
}